[alias]
	c = checkout
	b = branch
	dt = difftool
	l = log --oneline --decorate --graph
	m = commit
	s = status
	d = diff
	conflicts = diff --diff-filter=U
	f = fetch
	r = rebase
	ri = rebase --interactive
	mt = mergetool
	rc = rebase --continue
	diffdir = difftool --dir-diff --tool=bc3 --no-prompt
[diff]
	tool = bc3
	algorithm = patience
[difftool]
	bc3 = trustExitCode
	prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	bc3 = trustExitCode
[core]
	excludesfile = /Users/sark/.gitignore_global
	editor = vim

[gc]
	autoDetach = false
[branch]
	autosetuprebase = always
[difftool "bc3"]
[user]
	name = Oon Guo Liang
	email = oon.guo.liang@gmail.com
